.top, .bottom {
	padding:0 1.5em;
}

//-------- TOP -----------
.top {
	position:relative;

	&--height {
		min-height: 2.4375em; //39px
	}

	&__svg {
		position: absolute;
		right: 18px;
		top:-7px;
	}
}

//-------- BOTTOM -----------
.bottom {
	position:relative;
	z-index: 9999;

	background-color:$dark-blue-20;

	&--padding {
		padding-top:1.75em; 
		padding-bottom:2.125em;
	}

	&:hover {
		background-color:$desaturated-blue;
	}
}

//-------- FLEX ------------------
.flex {

	@include flex;

	&-jc {

		&-se {
			justify-content: space-evenly;
		}

		&-sb {
			justify-content: space-between;
		}
	}

}

//-------- BUTTON TIME ------------
.btn-time {

	&:hover, &:focus {
		color:$white
	}
}

//---------- BORDER ---------------
.border {

	&-r {

		border-radius:20px;
		overflow: hidden;

		&-b {
			border-radius: 0 0 20px 20px;
		}

		&-t {
			border-radius: 20px 20px 0 0;
		}
	}
}

//-----------COLOR CARDS-------------
.bg {

	//-------------red
	&-red {

		&-l {
			background-color:$light-red;
		}

		&-l-68 {
			background-color:$light-red-68;
		}
	}

	//------------blue
	&-blue {

		&-s {
			background-color:$soft-blue;
		}
	}

	//------------green
	&-green {

		&-lm {
			background-color:$lime-green;
		}
	}

	//------------violet
	&-violet {
		background-color:$violet;
	}

	//------------orange
	&-orange {

		&-s {
			background-color:$soft-orange;
		}
	}
}

//----------------------------------
//				REPORT
//----------------------------------
.report {
	grid-area:report;

	&--dart-blue {
		background-color: $dark-blue-20;
	}

	&__top {
		align-items: center;

		padding:2em 0; //32px

		&--blue {
			background-color: $blue;
		}

		&-img {
			width: calc(4em + 3vw); //73px
			min-height: calc(4em + 2.8vw) ; //70px
		}
	}

	&__bottom {
		padding:1.625em; //26px

		justify-content: space-between;
		align-items: center;

		&:hover {
			background-color: $dark-blue-20;
		}
	}

	&__img {
		width: 100%;

		border:3px solid $white;
		border-radius:50%;
	}
}

.work {
	grid-area:work;
}

.play {
	grid-area:play;
}

.study {
	grid-area:study;
}

.exercise {
	grid-area:exercise;
}

.social {
	grid-area:social;
}

.self {
	grid-area:self;
}

